.container {
  position: relative;
  width: min(90vw, 500px);
  aspect-ratio: 1 / 1;
  border: 1px solid var(--border-subtle);

  cursor:
    url("/images/crosshair.svg") 16 16,
    auto;

  .mapImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

:global(.marker) {
  position: absolute;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  pointer-events: none;
}
